/* Universal layout */
body {
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Antic Slab", serif;
  font-size: 16px;
  color: #1f2932;
  background: linear-gradient(#ffefba, #ffffff);
  padding: 0px;
  margin: 0px;
}
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    "nav"
    "banner"
    "main"
    "footer";
  max-width: 100%;
  /* border: 2px solid red; */
}

.page__header {
  grid-area: nav;
  width: 100%;
}

.banner__hero {
  text-align: center;
  grid-area: banner;
  border-bottom: 2px dotted #000000;
}

.heading__page {
  font-family: "Henny Penny", cursive;
  font-size: 4rem;
  text-align: center;
}

.page__button {
  border: 2px inset #000000;
  padding: 10px;
  margin: 20px 0;
  font-size: 2rem;
  background-color: #ffff00;
  text-align: center;
}

.page__button:hover {
  font-weight: bold;
  background-color: #9acd32;
}

.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  max-width: 100%;
  padding: 0 10px 0 5px;
  gap: 5px;
  height: 100%;
  /* border: 2px solid blue; */
}

.heading__section {
  font-family: "Henny Penny", cursive;
  text-align: center;
}

/* Setting the display to none, will change onclick with JS */
.your-active-class {
  display: none;
}

.section__2 {
  display: none;
}

.section__3 {
  display: none;
}

.section__4 {
  display: none;
}

.page__footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
  display: block;
  border-top: 2px dotted #000000;
  /* border: 2px solid green; */
}

.contact {
  text-decoration: underline;
  color: #000000;
  font-size: 1.2rem;
}

/* Mobile layout */
.motives__list__banner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.motives__item {
  list-style-image: url(../img/tick-mark.svg);
  font-weight: bold;
}

.motives__item::marker {
  font-size: 3rem;
}

.quote__review {
  /* 
    The review will only appear in this part if the user is on a desktop.
    Otherwise, it will appear, in the section of reviews (3).  
    */
  display: none;
}

.page__button {
  border: 2px inset #000000;
  padding: 10px;
  margin: 20px 0;
  font-size: 2rem;
  background-color: #ffff00;
  text-align: center;
}

.introduction__text {
  font-size: 1.2rem;
}

.product__image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet layout */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .motives__list__banner {
    width: 20%;
  }

  .motives__item {
    font-size: 1.5rem;
  }

  .page__button {
    font-size: 2.5rem;
  }

  .product__image {
    width: 80%;
  }
}

/* Desktop layout */
@media screen and (min-width: 901px) {
  .page__header {
    /* border: 2px solid blue; */
    border-bottom: 2px inset #000000;
  }

  .navbar__menu {
    /* border: 2px solid green; */
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    font-family: "Henny Penny", cursive;
    list-style-type: none;
    /* border: 2px solid red; */
  }

  .menu__link {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    border-radius: 25px;
    padding: 5px;
  }

  .menu__link:hover {
    background-color: #657482;
  }

  .banner__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid green; */
  }

  .motives__list__banner {
    text-align: left;
    width: 20%;
    margin-left: auto;
    /* border: 2px solid yellow; */
  }

  .motives__item {
    /* border: 2px solid black; */
    font-size: 2rem;
  }

  .motives__item::marker {
    font-size: 4rem;
  }

  .quote__review {
    display: block;
    margin-right: auto;
    font-style: italic;
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
  }

  .introduction__text {
    font-size: 1.5rem;
  }

  .product__image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
